/* header styles */
*{
    margin: 0;
    padding: 0;
}

header{
    background: rgba(229, 84, 115, 0.10);
    
    
}




.banner{
    display: flex;
    margin: 0 200px;
    width: 1000px;
    height: 800px;
}

.banner-content{
        margin: auto 0;
        padding-right: 100px;
}

.banner-tittle{
    font-weight: bolder;
    margin-bottom: 25px;
    font-size: 40px;
font-style: normal;
font-weight: 400px;
}

.banner-text{
    margin-bottom: 25px;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.btn-common{
    background-color:rgb(237, 91, 115);
    font-size: 20px;
    padding: 10px 15px;
    color: aliceblue;
    border: none;
    
 
 
 }
.profile-pic{
 width: 500px;
 margin: 20px 60px 0px 0px;
}
.header-tittle{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 25px;
font-weight: 700;
    
}
.header-content{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.image{
    display: flex;
 
}
.image img{
    height: 400px;
    width: 300px;
    padding: 20px;
}
.image-1{
    background: rgba(167, 33, 98, 0.15);
    margin: 20px 10px 20px 100px;
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
 
}
.image-2{
    background: rgba(5, 151, 160, 0.15);
    margin: 20px 10px 20px 20px;
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
   
   
}
.image-3{
    background: rgba(71, 125, 17, 0.15);
    margin: 20px 10px 20px 20px;
    border-top-left-radius:150px ;
    border-top-right-radius: 150px;
   

    
}
.pic-tittle{
    text-align: center;
    text-decoration:underline;
}
.offer{
    display: flex;
   
    background-color: rgba(229, 84, 115, 0.05);
    margin: 100px 0px;
    height: 400px;
    width: auto; 
    
}
.offer-content{

text-align: center;
margin-top: 150px;
margin-left: 200px;

}
.offer-tittle{
    margin-bottom: 20px;
}
.offer-text{
    margin-bottom: 20px;

    
   
}
.offer-pic{
width: 200px;

margin-top: 60px;
padding-left: 150px;
}
.insta{
    text-align: center;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 30px;

font-weight: 700px;

}
.insta-content{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}
.flower{
    display: flex;
margin-left: 60px;
margin-top: 30px;
 

   
}
.flower-1{
    padding: 0px 10px 10px 40px;
    width: 250px;

}
.flower-2{
    padding: 0px 10px 10px 10px;
    width: 250px;}
.flower-3{
    padding: 0px 10px 10px 10px;
    width: 250px;
}
.flower-4{
    padding: 0px 40px 10px 10px;
    width: 250px;
}
.email{
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    height: 400px;
    width: 1080px;
    margin: 50px auto;
    
    
}
.email-body{
  padding-top: 100px;
}
.email-tittle{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 30px;

font-weight: 800;
margin-bottom: 15px;

}
.email-text{
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 30px;

}
.email-body input{
    height: 40px;
    padding-left: 50px;
    padding-right: 150px;
    border-style: none;
    
}
.email-body button{
  
    
}
.footer{
    text-align: center;
    background-color:#111010;
    height: 300px;

}
.footer-tittle{
    text-align: center;
    padding-top: 70px;
    color: #E55473;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer p{
    color: rgba(255, 255, 255, 0.90);
}